extends ../layout

block content
    a.btn.btn-success(href='/bicicletas/create' role='button') Agregar
    a.btn.btn-info(href='/' role='button') Inicio
    table.table 
        thead.thead-dark
            tr 
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') 
                th(scope='col') 
        tbody   
            each bici in bicis
                tr 
                    td(scope='row')
                        =bici.id
                    td= bici.color 
                    td= bici.modelo
                    td= bici.ubicacion
                    td 
                        a.btn.btn-primary(href='/bicicletas/'+ bici.id + '/update' role='button') Editar

                    td
                        form.inline(method='post' action='bicicletas/'+ bici.id + '/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'

